# MODEL TRAINING - SET 3

### 1.1 Import Data and Required Packages
#### Importing Pandas, Numpy, Matplotlib, Seaborn and Warnings Library.

In [1]:
#Importing recquired packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

##### Importing Modelling Libraries

In [ ]:
#Importing ML Packages
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.decomposition import PCA

from sklearn.multioutput import RegressorChain

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression, Ridge, ElasticNet, Lasso
from sklearn.cross_decomposition import PLSRegression 
from sklearn.svm import SVR                          
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor   

from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor, ExtraTreesRegressor
from sklearn.multioutput import MultiOutputRegressor

from xgboost import XGBRegressor

#Importing DL Packages
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping, TensorBoard
from keras.optimizers import Adam
import datetime

#### Importing CSV data as Pandas dataframe

In [ ]:
#Importing CSV data as Pandas dataframe
df=pd.read_csv('dataset/Extracted_CrudeData.csv')

#Show top 5 rows of the dataframe
df.head()

,Crude Name,StdLiquidDensity (kg/m3),SulfurByWt (%),ConradsonCarbonByWt (%),NitrogenByWt (%),Distillation Mass @ X Pct (C)@ 1 (%) - TBP,Distillation Mass @ X Pct (C)@ 5 (%) - TBP,Distillation Mass @ X Pct (C)@ 10 (%) - TBP,Distillation Mass @ X Pct (C)@ 30 (%) - TBP,Distillation Mass @ X Pct (C)@ 50 (%) - TBP,...,KinematicViscosity (cSt)@ 37.78 (C),KinematicViscosity (cSt)@ 98.89 (C),CetaneNumber,BromineNumber,AnilinePoint (C),FreezePoint (C),PourPoint (C),CloudPoint (C),TotalAcidNumber (mg KOH/g),CtoHRatioByWt
0,Achinsk-2015,926.440713,24.606786,5.827369,0.209874,-17.813183,99.504433,239.896662,398.590562,481.984170,...,57.2992918615153,7.64442822441154,50.267061,NaN,65.639336,108.476408,31.114131,35.355448,0.121042,7.220029
1,Akpo-2014,794.689603,0.070591,0.732083,0.062825,-16.244551,24.679712,74.031996,147.692242,231.447841,...,1.7573028543796,0.833437569080932,48.034358,NaN,10.907278,-32.769863,13.927943,20.861818,0.080432,5.829529
2,Alba-1994,937.762899,1.322111,5.847739,0.196515,159.292817,225.625562,264.407311,363.170601,470.497570,...,208.950655083803,7.7853062269412,57.443852,NaN,76.496875,1.073170,13.930097,40.746252,1.127930,7.499064
3,Alba-2002,932.299296,1.188621,4.615622,0.226565,123.671482,208.861673,254.256413,357.502064,459.755466,...,57.5107882851462,7.38119815238387,55.447745,NaN,74.810019,25.970455,-10.825339,59.057046,0.557564,9.217978
4,Alba-2012,934.718850,1.254322,7.296455,0.220453,127.209059,191.668726,241.194850,350.718785,450.253389,...,74.735481797634,8.27927920440891,54.286000,NaN,73.359047,33.145603,10.898340,44.082371,0.935661,9.314815

In [ ]:
#Shape of dataset
df.shape

(114, 27)

In [ ]:
#Renaming columns for better readability
df.rename(columns={
    'Crude Name': 'Crude_Name',
    'StdLiquidDensity (kg/m3)': 'StdLiqDensity_kgm3',
    'SulfurByWt (%)': 'SulfurWt_pct',
    'ConradsonCarbonByWt (%)': 'ConradsonCarbon_wt_pct',
    'NitrogenByWt (%)': 'NitrogenWt_pct',
    
    'Distillation Mass @ X Pct (C)@ 1 (%) - TBP': 'TBP_TempAt_1pct',
    'Distillation Mass @ X Pct (C)@ 5 (%) - TBP': 'TBP_TempAt_5pct',
    'Distillation Mass @ X Pct (C)@ 10 (%) - TBP': 'TBP_TempAt_10pct',
    'Distillation Mass @ X Pct (C)@ 30 (%) - TBP': 'TBP_TempAt_30pct',
    'Distillation Mass @ X Pct (C)@ 50 (%) - TBP': 'TBP_TempAt_50pct',
    'Distillation Mass @ X Pct (C)@ 70 (%) - TBP': 'TBP_TempAt_70pct',
    'Distillation Mass @ X Pct (C)@ 90 (%) - TBP': 'TBP_TempAt_90pct',
    'Distillation Mass @ X Pct (C)@ 95 (%) - TBP': 'TBP_TempAt_95pct',
    'Distillation Mass @ X Pct (C)@ 99 (%) - TBP': 'TBP_TempAt_99pct',

    'AromByWt (%)': 'AromWt_pct',
    'NaphthenesByWt (%)': 'NaphWt_pct',
    'ParaffinsByWt (%)': 'ParaWt_pct',

    'KinematicViscosity (cSt)@ 37.78 (C)': 'KV_37.78c_cSt',
    'KinematicViscosity (cSt)@ 98.89 (C)': 'KV_98.89c_cSt',
    
    "CetaneNumber": "CetaneNumber",
    "BromineNumber": "BromineNumber",
    "AnilinePoint (C)": "AnilinePoint",
    "FreezePoint (C)": "FreezePoint",
    "PourPoint (C)": "PourPoint",
    "CloudPoint (C)": "CloudPoint",
    "TotalAcidNumber (mg KOH/g)": "TotalAcidNumber",
    "CtoHRatioByWt": "CtoHRatioByWt"
}, inplace=True)
df.head()

,Crude_Name,StdLiqDensity_kgm3,SulfurWt_pct,ConradsonCarbon_wt_pct,NitrogenWt_pct,TBP_TempAt_1pct,TBP_TempAt_5pct,TBP_TempAt_10pct,TBP_TempAt_30pct,TBP_TempAt_50pct,...,KV_37.78c_cSt,KV_98.89c_cSt,CetaneNumber,BromineNumber,AnilinePoint,FreezePoint,PourPoint,CloudPoint,TotalAcidNumber,CtoHRatioByWt
0,Achinsk-2015,926.440713,24.606786,5.827369,0.209874,-17.813183,99.504433,239.896662,398.590562,481.984170,...,57.2992918615153,7.64442822441154,50.267061,NaN,65.639336,108.476408,31.114131,35.355448,0.121042,7.220029
1,Akpo-2014,794.689603,0.070591,0.732083,0.062825,-16.244551,24.679712,74.031996,147.692242,231.447841,...,1.7573028543796,0.833437569080932,48.034358,NaN,10.907278,-32.769863,13.927943,20.861818,0.080432,5.829529
2,Alba-1994,937.762899,1.322111,5.847739,0.196515,159.292817,225.625562,264.407311,363.170601,470.497570,...,208.950655083803,7.7853062269412,57.443852,NaN,76.496875,1.073170,13.930097,40.746252,1.127930,7.499064
3,Alba-2002,932.299296,1.188621,4.615622,0.226565,123.671482,208.861673,254.256413,357.502064,459.755466,...,57.5107882851462,7.38119815238387,55.447745,NaN,74.810019,25.970455,-10.825339,59.057046,0.557564,9.217978
4,Alba-2012,934.718850,1.254322,7.296455,0.220453,127.209059,191.668726,241.194850,350.718785,450.253389,...,74.735481797634,8.27927920440891,54.286000,NaN,73.359047,33.145603,10.898340,44.082371,0.935661,9.314815

#### Duplicate Values, Missing Values & Data Types

In [ ]:
#Exploring data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Crude_Name              114 non-null    object
 1   StdLiqDensity_kgm3      114 non-null    float64
 2   SulfurWt_pct            114 non-null    float64
 3   ConradsonCarbon_wt_pct  114 non-null    float64
 4   NitrogenWt_pct          114 non-null    float64
 5   TBP_TempAt_1pct         114 non-null    float64
 6   TBP_TempAt_5pct         114 non-null    float64
 7   TBP_TempAt_10pct        114 non-null    float64
 8   TBP_TempAt_30pct        114 non-null    float64
 9   TBP_TempAt_50pct        114 non-null    float64
 10  TBP_TempAt_70pct        114 non-null    float64
 11  TBP_TempAt_90pct        114 non-null    float64
 12  TBP_TempAt_95pct        114 non-null    float64
 13  TBP_TempAt_99pct        114 non-null    float64
 14  AromWt_pct              114 non-null    float64
 15  NaphWt_pct              114 non-null    float64
 16  ParaWt_pct              114 non-null    float64
 17  KV_37.78c_cSt           114 non-null    object
 18  KV_98.89c_cSt           114 non-null    object
 19  CetaneNumber            114 non-null    float64
 20  BromineNumber           0 non-null      float64
 21  AnilinePoint            114 non-null    float64
 22  FreezePoint             114 non-null    float64
 23  PourPoint               114 non-null    float64
 24  CloudPoint              114 non-null    float64
 25  TotalAcidNumber         114 non-null    float64
 26  CtoHRatioByWt           114 non-null    float64
dtypes: float64(24), object(3)
memory usage: 24.2+ KB

In [ ]:
#Changing data types
df["KV_37.78c_cSt"] = pd.to_numeric(df["KV_37.78c_cSt"], errors="coerce")
df["KV_98.89c_cSt"] = pd.to_numeric(df["KV_98.89c_cSt"], errors="coerce")

In [ ]:
#Checks for duplicate values
df.duplicated().sum()

np.int64(0)

In [ ]:
#Checks for missing values
df.isna().sum()

Crude_Name                  0
StdLiqDensity_kgm3          0
SulfurWt_pct                0
ConradsonCarbon_wt_pct      0
NitrogenWt_pct              0
TBP_TempAt_1pct             0
TBP_TempAt_5pct             0
TBP_TempAt_10pct            0
TBP_TempAt_30pct            0
TBP_TempAt_50pct            0
TBP_TempAt_70pct            0
TBP_TempAt_90pct            0
TBP_TempAt_95pct            0
TBP_TempAt_99pct            0
AromWt_pct                  0
NaphWt_pct                  0
ParaWt_pct                  0
KV_37.78c_cSt               5
KV_98.89c_cSt               2
CetaneNumber                0
BromineNumber             114
AnilinePoint                0
FreezePoint                 0
PourPoint                   0
CloudPoint                  0
TotalAcidNumber             0
CtoHRatioByWt               0
dtype: int64

In [ ]:
#Deleting columns with more than 50% missing values
df.drop(columns='BromineNumber', inplace=True)
df.shape

(114, 26)

#### ML Model Training

In [ ]:
#Independent Features
X = df.drop(columns=['Crude_Name', 'AromWt_pct', 'NaphWt_pct', 'ParaWt_pct', 'KV_37.78c_cSt', 'KV_98.89c_cSt',
                     'CetaneNumber', 'AnilinePoint', 'FreezePoint', 'PourPoint', 'CloudPoint',
                     'TotalAcidNumber', 'CtoHRatioByWt'])
X.head()

,StdLiqDensity_kgm3,SulfurWt_pct,ConradsonCarbon_wt_pct,NitrogenWt_pct,TBP_TempAt_1pct,TBP_TempAt_5pct,TBP_TempAt_10pct,TBP_TempAt_30pct,TBP_TempAt_50pct,TBP_TempAt_70pct,TBP_TempAt_90pct,TBP_TempAt_95pct,TBP_TempAt_99pct
0,926.440713,24.606786,5.827369,0.209874,-17.813183,99.504433,239.896662,398.590562,481.984170,561.500466,665.837149,714.976170,806.217469
1,794.689603,0.070591,0.732083,0.062825,-16.244551,24.679712,74.031996,147.692242,231.447841,311.635864,465.560748,539.770951,687.654783
2,937.762899,1.322111,5.847739,0.196515,159.292817,225.625562,264.407311,363.170601,470.497570,595.448493,779.746511,866.765919,1005.918590
3,932.299296,1.188621,4.615622,0.226565,123.671482,208.861673,254.256413,357.502064,459.755466,566.808669,718.285795,790.386373,925.151275
4,934.718850,1.254322,7.296455,0.220453,127.209059,191.668726,241.194850,350.718785,450.253389,568.009018,737.938988,819.140733,963.333194

In [ ]:
#Dependent Features
y = df[['CetaneNumber', 'AnilinePoint', 'FreezePoint', 'PourPoint', 'CloudPoint', 'TotalAcidNumber', 'CtoHRatioByWt']]

In [ ]:
#Split dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

print(f"Train size: {X_train.shape[0]}, Test size: {X_test.shape[0]}")
X_train.shape, X_test.shape, y_train.shape, y_test.shape

Train size: 91, Test size: 23

((91, 13), (23, 13), (91, 7), (23, 7))

In [ ]:
#Define categorical and numerical feature columns
num_features = [col for col in X.columns]

#Define transformations for each feature
numeric_transformer = StandardScaler()                    

#Apply scaling to numeric features
preprocessor = ColumnTransformer([("StandardScaler", numeric_transformer, num_features)])

In [ ]:
#Machine Learning Algorithms
models = {
    "Linear Regression": Pipeline([
        ('pre', preprocessor),
        ('linreg', MultiOutputRegressor(LinearRegression()))
    ]),
    "Ridge Regression": Pipeline([
        ('pre', preprocessor),
        ('ridge', MultiOutputRegressor(Ridge(alpha=1.0)))
    ]),
    "Lasso Regression": Pipeline([
        ('pre', preprocessor),
        ('ridge', MultiOutputRegressor(Lasso(alpha=1.0)))
    ]),
    "Elastic Net Regression": Pipeline([
        ('pre', preprocessor),
        ('elasticnet', MultiOutputRegressor(ElasticNet(alpha=0.5, l1_ratio=0.5, max_iter=2000)))
    ]),
    "Support Vector Regression": Pipeline([
        ('pre', preprocessor),
        ('svr', MultiOutputRegressor(SVR(kernel='rbf', C=100, epsilon=0.1)))
    ]),
    "K-Nearest Neighbours": Pipeline([
        ('pre', preprocessor), 
        ('knn', MultiOutputRegressor(KNeighborsRegressor(n_neighbors=5)))
    ]),
    "PLS Regression": Pipeline([
        ('pre', preprocessor),
        ('pls', PLSRegression(n_components=3))
    ]),
    "Decision Tree Regression": Pipeline([
        ('pre', preprocessor),  
        ('dt', MultiOutputRegressor(DecisionTreeRegressor(max_depth=10, min_samples_split=5, random_state=42)))
    ]),
    "Extra Tree Regression": Pipeline([
        ('pre', preprocessor),  
        ('et', MultiOutputRegressor(ExtraTreesRegressor(n_estimators=200, max_depth=15, min_samples_split=5, random_state=42)))
    ]),
    "Gradient Boost": Pipeline([
        ('scaler', StandardScaler()),
        ('gb', MultiOutputRegressor(GradientBoostingRegressor(random_state=42)))
    ]),
    "AdaBoost": Pipeline([
        ('scaler', StandardScaler()),
        ('gb', MultiOutputRegressor(AdaBoostRegressor(n_estimators=100, learning_rate=1.0, random_state=42)))
    ]),
    "Random Forest": Pipeline([
        ('pre', preprocessor),
        ('rf', MultiOutputRegressor(RandomForestRegressor(n_estimators=200, random_state=42)))
    ]),
    "XGBoost": Pipeline([
        ('pre', preprocessor),
        ('xgb', MultiOutputRegressor(XGBRegressor(n_estimators=500, learning_rate=0.01, max_depth=2, reg_alpha=0.5, subsample=0.7, random_state=42)))
    ]) 
}

In [ ]:
#Train and evaluate all models
print("Training ML Models...")

results = {}
for name, model in models.items():

    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    results[name] = {
        'Test R2': r2_score(y_test, y_pred),
        'Test MAE': mean_absolute_error(y_test, y_pred),
        'Test RMSE': np.sqrt(mean_squared_error(y_test, y_pred))
    }
results_df = pd.DataFrame(results).T
print(results_df.sort_values('Test R2', ascending=False))

Training ML Models...
                            Test R2   Test MAE  Test RMSE
AdaBoost                   0.319020  10.505785  19.666477
XGBoost                    0.270352  10.870804  20.112210
Extra Tree Regression      0.263143  10.637330  20.393383
Elastic Net Regression     0.249902  10.456465  20.093520
Random Forest              0.223587  10.488849  19.480334
K-Nearest Neighbours       0.182905  11.387013  21.169180
Gradient Boost             0.175962  10.797531  20.977461
Lasso Regression           0.162802  10.624263  20.102976
Support Vector Regression  0.133309   9.481740  18.932078
Ridge Regression           0.018390  11.188587  20.872674
PLS Regression             0.018166  10.675531  20.215411
Linear Regression         -0.222908  12.297653  22.241109
Decision Tree Regression  -0.236366  12.246708  21.751400